<script type="text/javascript">
    $(document).onLoad(function () {
        $('#textAlert').bootstrapSwitch('state', true);
    });
</script>
<div ng-controller="CreateUserCtrl as cuc">

    <h1>Create User</h1>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-4 column">
                <form id="CreateUserForm" name="CreateUserForm" class="form-horizontal" role="form"
                      ng-submit="cuc.createUser()">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="firstName" id="firstName"
                                   placeholder="First Name"
                                   ng-model="cuc.user.firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="lastName" id="lastName"
                                   placeholder="Last Name"
                                   ng-model="cuc.user.lastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="XXX-XXX-XXXX"
                                   ng-model="cuc.user.phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" id="email" placeholder="john@doe.com"
                                   ng-model="cuc.user.email">
                        </div>
                    </div>
                    <div class="form-group col-sm-10">
                        <a ng-href="/#/" id="btn_cancel" class="btn btn-danger">Cancel</a>
                        <button type="submit" class="btn btn-success" id="btn_create">Create User</button>
                    </div>
                    <div class="form-group col-sm-10">
                            <button class="btn btn-small btn-labeled btn-info" btn-checkbox ng-model="cuc.user.emailAlert">
                                <span class="btn-label">
                                <i class="fa fa-envelope fa-2x"></i>
                                </span>Email Alerts
                            </button>
                            <button class="btn btn-small btn-labeled btn-success" btn-checkbox ng-model="cuc.user.textAlert">
                                <span class="btn-label">
                                <i class="fa fa-mobile-phone fa-2x"></i>
                                </span>Mobile Alerts
                            </button>
                    </div>
                </form>
            </div>
            <div class="col-md-4 column">
            </div>
            <div class="col-md-4 column">
                <pre style="border: none; background: #FFF; font-weight: bold;">{{ cuc.user | json }}</pre>
            </div>
        </div>
    </div>
</div>

