<div ng-controller="UserCtrl as uc">
    <div class="jumbotron">
        <h3>Rewards</h3>

        <div class="form-group">
            <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Users...">
        </div>
        <div class="row"
             ng-show="(filteredData = (uc.users | filter:searchText)) && searchText.length >= 2 && filteredData.length >= 1">
            <div class="col-md-3" ng-repeat="user in filteredData"
                 ng-include="'/assets/partials/profilecard.html'"></div>
        </div>
        <div class="row col-md-12"> </div>
        <div class="col-md-12" ng-show="filteredData.length == 0"><p class="text-center">No Users Found</p></div>
        <div>
            <a ng-href="/#/users/create" class="btn btn-primary pull-right" id="btn_user_create">New User</a>
        </div>

        <h3>
            Debug
        </h3>
        <hr>
        <accordion>
            <accordion-group is-open="status.open">
                <accordion-heading>
                    Json Data <i class="pull-right glyphicon"
                                 ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <pre>{{ uc.users | json }}</pre>
            </accordion-group>
        </accordion>
    </div>

</div>