<div ng-controller="UserCtrl as uc">

    <div class="jumbotron">

        <div class="row">
            <!--<h3 class="col-md-4 col-md-offset-4">Rewards</h3>-->

            <div class="form-group col-md-4">
                <input class="form-control" style="text-align: center;" typeahead="user.firstName for user in uc.users | filter: searchText | limitTo:8" type="text" ng-model="searchText" placeholder="Find Customer">
            </div>

            <a ng-href="/#/users/create" class="btn btn-primary col-md-3 col-md-offset-4" id="btn_user_create">New Customer</a>
        </div>
        <div class="row"
             ng-show="(filteredData = (uc.users | filter:searchText)) && searchText.length >= 2 && filteredData.length >= 1">
            <div class="col-md-3" ng-repeat="user in filteredData"
                 ng-include="'/assets/partials/profilecard.html'" data-animation="am-fade-and-scale" data-placement="center" ng-animate-children="fade-animation" ng-click="uc.showModal($index)"></div>
        </div>
        <div class="col-md-12" ng-show="filteredData.length == 0"><p class="text-center">No Users Found</p></div>
    </div>

    <accordion>
        <accordion-group is-open="status.open">
            <accordion-heading>
                Debug <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>
            <pre>{{ uc.users | json }}</pre>
        </accordion-group>
    </accordion>
</div>
