<head>
    <script type="text/ng-template" id="profileCard" src='@routes.Assets.at("partials/profilecard.html")'></script>
</head>
<div ng-controller="UserCtrl as uc">
    <div class="jumbotron">
        <h3>Rewards</h3>

        <div class="form-group">
            <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Users...">
        </div>
        <div id="user_list" class="table table-striped custab"
               ng-show="(filteredData = (uc.users | filter:searchText)) && searchText.length >= 2 && filteredData.length >= 1">
            <!--<thead style="color: #f5f5f5; background: steelblue;">-->
            <!--<tr>-->
                <!--<th></th>-->
                <!--<th>FirstName</th>-->
                <!--<th>LastName</th>-->
                <!--<th>PhoneNumber</th>-->
                <!--<th class="text-center">Email</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <div ng-repeat="user in filteredData track by $index" ng-if="$index%3==0" ng-include="profileCard">
                @*<div>{{filteredData[$index].firstName}}</div>*@
                @*<div>{{filteredData[$index+1].firstName}}</div>*@
                @*<div>{{filteredData[$index+2].firstName}}</div>*@
            </div>
            </div>
            <!--</tbody>-->
            <!--</table>-->
                <!--<td>-->
                    <!--{{ usr.points }}-->
                <!--</td>-->
                <!--<td>-->
                    <!--<a ng-href="/#/users/profile/{{ usr.id }}">-->
                    <!--{{ usr.firstName }}-->
                    <!--</a>-->
                <!--</td>-->
                <!--<td>-->
                    <!--{{ usr.lastName }}-->
                <!--</td>-->
                <!--<td>-->
                    <!--{{ usr.phone }}-->
                <!--</td>-->
                <!--<td>-->
                    <!--<a href="mailto:{{ usr.email }}">{{ usr.email }}</a>-->
                <!--</td>-->
        <div ng-show="filteredData.length == 0">
            <p class="text-center">No Users Found</p>
        </div>
        <div class="form-group">
            <a ng-href="/#/users/create" class="btn btn-primary pull-right" id="btn_user_create">New User</a>
        </div>

        <h3>
            Debug
        </h3>
        <hr>
        <accordion>
            <accordion-group is-open="status.open">
                <accordion-heading>
                    Json Data <i class="pull-right glyphicon"
                                 ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <pre>{{ uc.users | json }}</pre>
            </accordion-group>
        </accordion>
    </div>

</div>